:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    --green-color: rgb(73, 223, 73);
    --yellow-color: rgb(231, 231, 49);
    --red-color: rgb(199, 41, 41);
    --bg-color: rgb(22, 22, 22);
}

* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    appearance: none;
}

body {
    display:grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    height: 100vh;
    overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1rem;
}

a:visited {
    color: inherit;
}

/* HEADER */

header {
    text-align: center;
    display:flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100px;
    padding: 1rem 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
    border-bottom: 2px solid black;
}

header > h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

header #add-todo {
    width: 40px;
    font-size: 2rem;
    color: white;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 5px black;
    border: none;
    border-radius: 100%;
    height: 40px;
    align-self: center;
    transition: all 0.2s;
    margin: 0px 0.8rem;
}

header #add-todo:hover {
    scale: 1.1;
    transform: rotate(360deg);
    transition: all 0.2s;
}

#form-todo {
    position: relative;
    display:grid;
    grid-template: repeat(4, min-content) / repeat(3, min-content);
    justify-content: center;
    gap: 0.8rem;
    padding: 1rem;
    width: fit-content;
    margin: auto;
    border: 2px solid gray;
    border-radius: 10px;
    justify-items: center;
    align-items: end;
    background-color: #00000021;
    opacity: 0;
    transition: opacity 0.15s ease-out;
    overflow: hidden;
}

#form-todo.active {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

header.expand {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

#form-todo input,
#form-todo textarea {
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.26);
    padding: 0px 4px;
    font-size: 1rem;
}

#form-todo-title, #form-todo-date {
    height: 25px;
}

#form-todo-title {
    width: 200px;
}

#form-todo button:nth-child(6) {
    grid-column: 1/2;
}

#form-todo button:nth-child(7) {
    grid-column: 3/4;
}

select#form-todo-project {
    outline: none;
    width: 100px;
    height: 100%;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 5px;
    transition: all 0.2s;
}

select#form-todo-project:hover {
    background-color: rgba(0, 0, 0, 0.050);
    transition: all 0.2s;
}

#form-todo-desc {
    grid-column: 1 / 3;
    resize: none;
    height: 45px;
    width: 100%;
    height: 100%;
    padding: 4px !important;
}

.form-priority {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.priority-buttons {
    display:flex;
    justify-content: center;
    gap: 1px;
}

#form-todo button {
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid black;
    transition: all 0.2s;
}

.priority-buttons > button:nth-child(1):hover {
    background-color: var(--green-color);
    transition: all 0.2s;
}

.priority-buttons > button:nth-child(2):hover {
    background-color: var(--yellow-color);
    transition: all 0.2s;
}

.priority-buttons > button:nth-child(3):hover {
    background-color: var(--red-color);
    transition: all 0.2s;
}

#todo-create,
#todo-cancel {
    background-color: white;
    border: 2px solid var(--bg-color) !important;
    color: black;
    width: 150px;
}

#todo-create:hover,
#todo-cancel:hover {
    background-color: var(--bg-color);
    color: white;
    transition: all 0.2s;
}

#form-todo.title-error::after {
    position: absolute;
    content: 'Tasks must have a name';
    top: 5px;
    left: 1rem;
    width: 200px;
    height: 25px;
    font-weight: 600;
    color: white;
    background-color: red;
    border: 2px solid black;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* SIDE-PANNEL  */

.side-pannel {
    grid-row: 1 / -1;
    background-color: var(--bg-color);
    color:white;
    font-weight: 600;
    padding: 2rem;
}

.side-pannel > .inbox > li > i,
.side-pannel > .projects > li:nth-child(1) > i {
    margin-right: 0.5rem;
}

.side-pannel > *:not(:last-child):not(.add-project) {
    position: relative;
    margin-bottom: 2.5rem;
}

.side-pannel > *:not(:last-child):not(.add-project)::after {
    position: absolute;
    content: '';
    width: 100%;
    bottom: -1.25rem;
    left: 0;
    background-color: rgba(255, 255, 255, 0.514);
    height: 1px;
}

.side-pannel > * > * {
    margin-bottom: 0.5rem;
}

.side-pannel:last-child {
    margin-bottom: 0;
}

button,
.side-pannel .inbox > li,
.side-pannel .projects > div > li {
    cursor: pointer;
}

ul.inbox li,
ul.projects > div > li {
    position: relative;
    width: fit-content;
}

ul.inbox li::after,
ul.projects > div > li::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0;
    bottom: -3px;
    left: 0;
    background-color: white;
}

ul.inbox li:hover::after,
ul.projects > div > li:hover::after {
    width: 100%;
    transition: all 0.2s ease-out;
}

.add-project {
    display:flex;
    gap: 15px;
}

#new-project {
    position: relative;
    opacity: 0;
    z-index: -1;
    width: 0;
    outline: none;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.507);
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}

#new-project.active {
    opacity: 1;
    z-index: 1;
    width: 175px;
    height: 25px;
    transition: opacity 0.5s, width 0.5s;
}

.form-project {
    width: min-content;
}

.proj-form-btns {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 20px;
}

.projects .project {
    display:flex;
    justify-content: space-between;
    border-radius: 8px;
}

div.project > button {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
    color: white;
}

div.project > button:hover {
    scale: 1.2;
    transition: all 0.2s;
}

#add-project {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

#add-project:hover {
    color: var(--bg-color);
    background-color: white;
    transition: all 0.2s;
}

.form-project .proj-form-btns > button {
    width: 50px;
    height: 30px;
    font-weight: 600;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: all 0.2s;
}

.form-project .proj-form-btns > button:hover {
    background-color: white;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    transition: all 0.2s;
}

/* CONTENT */

.main-content > h1 {
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.content {
    padding: 1rem 2rem;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.task {
    padding: 5px 1rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.438);
    display: grid;
    grid-template: min-content auto / 1fr min-content min-content;
    gap: 5px;
    transition: all 0.2s;
}

.task:hover {
    background-color: rgba(61, 61, 61, 0.4);
}

.task > .task-date {
    grid-column: 2/4;
}

.task > .task-desc {
    overflow-wrap: anywhere;
}

.task > .task-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.task > button {
    width: 20px;
    height: 20px;
    justify-self: center;
    border: 0px solid transparent;
    border-radius: 100%;
    background-color: transparent;
    font-size: 1.1rem;
    transition: all 0.1s;
}

.task > button:hover {
    scale: 1.1;
    transition: all 0.1s ease-in-out;
}

.low {
    background-color: rgb(73 223 73 / 71%);
}

.low:hover {
    background-color: rgb(73 223 73 / 99%);
}

.medium {
    background-color: rgb(231 231 49 / 71%);
}

.medium:hover {
    background-color: rgb(231 231 49 / 99%);
}

.high {
    background-color: rgb(199 41 41 / 70%);
}

.high:hover {
    background-color: rgb(199 41 41 / 99%);
}

.completed {
    text-decoration: line-through;
    transition: all 0.2s;
    box-shadow: none;
    opacity: 0.5;
}

.none.completed:hover {
    background-color: rgba(128, 128, 128, 0.700);
}

/* ========================= */

.p1 {
    background-color: var(--green-color);
}
.p2 {
    background-color: var(--yellow-color);
}
.p3 {
    background-color: var(--red-color);
}
