:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    appearance: none;
}

body {
    padding: 3rem;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 1rem;
}

a:visited {
    color: inherit;
}

body {
    display:grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
}

header {
    text-align: center;
}

.side-pannel {
    grid-row: 1 / -1;
}

#form-todo-date {
    grid-column: 3 / 5;
}

button,
.side-pannel .inbox > li,
.side-pannel .projects > li:nth-child(n+2) {
    cursor: pointer;
}

#form-todo {
    position: relative;
    display:grid;
    grid-template: repeat(2, min-content) / repeat(4, min-content);
    justify-content: center;
    gap: 1rem;
    margin: 5px 0;
    padding: 1rem;
}

.form-priority {
    display:flex;
}

#form-todo.title-error::after {
    position: absolute;
    content: 'Tasks must have a name';
    top: -50px;
    left: 1rem;
    width: 150px;
    border: 2px solid red;
}

.add-project {
    display:flex;
    gap: 15px;
}

#new-project {
    position: relative;
    opacity: 0;
    z-index: -1;
    width: 0;
}

#new-project.active {
    opacity: 1;
    z-index: 1;
    width: 175px;
    height: 25px;
    transition: opacity 0.5s, width 0.5s;
}

.form-project {
    width: min-content;
}

.proj-form-btns {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 20px;
}